# 伪娘 CDTS 性转变身与跨性别相关小说（成人与限制级）

在这个信息快速流动但又易逝的时代，我们希望成为泛中文社区多元性别历史的见证者与守护者。

本仓库包含伪娘、男娘、变性、TS 变身文学与跨性别相关小说（成人与限制级）的内容。

> 警告：色情、暴力、血腥、性暗示、性虐待、性侵犯、性骚扰、性歧视、性剥削、性剥削等内容
> 可能对您造成不适。请确保您已经成年，并谨慎观看。

更多内容和搜索请访问 <https://transchinese.org/>。

## 目录

{{TABLE_OF_CONTENTS}}

## LICENSE

本项目为多元性别群体的记忆与经验提供存档与资料库，
所有内容均来自互联网，仅供学习和科学研究使用。版权属于原作者。
